<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="rxjava-osgi-target" sequenceNumber="5">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.12.0.v20161122-1740"/>
<unit id="org.eclipse.sdk.ide" version="4.6.2.M20161124-1400"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.6"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.4.0.201606011907"/>
<repository location="http://download.eclipse.org/nattable/releases/1.4.0/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="All-RxJava-OSGi-Libs.feature.group" version="0.1.0"/>
<repository location="https://dl.bintray.com/simon-scholz/RxJava-OSGi/"/>
</location>
</locations>
</target>
